# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some of the commonly used libraries used by Data Scientists.
- Examples of evaluating arithematic operations in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

|Data Science Tools|
|-------------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60.
min=200
hour=min/60
print(min,"minutes is" ,hour ,"hours.")

200 minutes is 3.3333333333333335 hours.

## H2: Author
Devyani Kandwal